.teams-card {
  padding: 0% 10% 0% 10%;
}
@media screen and (max-width: 768px) {
  .teams-card {
    padding: 0% 5% 0% 5%;
  }
}
.RCB {
  background-image: linear-gradient(to top, #1e293b, #a4261d);
}
.KKR {
  background-image: linear-gradient(to top, #1e293b, #5755a7);
}
.KXP {
  background-image: linear-gradient(to top, #1e293b, #d91c1f);
}
.CSK {
  background-image: linear-gradient(to top, #1e293b, #f7db00);
}
.RR {
  background-image: linear-gradient(to top, #1e293b, #da237b);
}
. MI {
  background-image: linear-gradient(to top, #1e293b, #13418b);
}
.SH {
  background-image: linear-gradient(to top, #1e293b, #f26d22);
}
.DC {
  background-image: linear-gradient(to top, #1e293b, #4f5db0);
}
.team-banner-container {
  display: flex;
  justify-content: center;
}
.team-banner {
  width: 100%;
  margin-top: 50px;
}
.latest-matches-heading {
  font-size: 22px;
  font-weight: 600;
  font-family: 'bree serif';
  color: #fff;
}
.recent-matches-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0px;
}
