.latest-match-container {
  background-color: #0f172a;
  padding: 20px;
  border-radius: 18px;
}
@media screen and (min-width: 768px) {
  .latest-match-container {
    display: flex;
  }
}
.competing-team-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.text {
  font-family: 'bree serif';
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}
.competing-team {
  font-size: 36px;
}
.team-logo {
  width: 40%;
}
.team-details-container {
  text-align: end;
}
.sub-text {
  font-size: 18px;
  font-weight: 500;
}
